/* Basic styles */
* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

img {
    max-width: 100%;
}

body {
    margin: 0;
}

/***Typography***/

h1, h2, p, blockquote, button, a {
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

header div.logo p {
    font-size: 24px;
    color: #F9FAF8;
}

header nav a {
    font-size: 18px;
    color: #E5E7Eb;
}



/****Header Section*****/

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1F2937;
    margin: 0;
    padding: 1em 3em;
}

header div.logo p {
    text-transform: capitalize;
    font-weight: bold;
}

header nav {
    flex: ;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

header nav a {
    text-decoration: none;
}

/*****Hero Section*****/

section.hero {
    background-color: #1F2937;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 2em;
}

div.hero-text h1 {
    margin: 10px 15px;
}

.hero-text p {
    margin: 10px 15px;
    font-size: 18px;
    color: #F9FAF8;
}

.hero-text button {
    margin: 10px 15px;
    background-color: #3882f6;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #F9FAF8;
    border-radius: 5px;
}

/****Features Section*****/

.features {
    text-align: center;
    height: 360px;
    padding-left: 20vw;
    padding-right: 20vw;
}

.features .col4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.col4 div {
    flex: 1;
    text-align: center;
}

.col4 div img {
    border: 2px solid #3882f6;
    border-radius: 6px;
}


/****Testimonial Section*****/

.testimonial {
    background-color: #e5e7eb;
    height: 400px;
    padding-left: 20vw;
    padding-right: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.testimonial blockquote {
    flex: 1;
    font-size:  36px;
    font-weight: light;
    font-style: italic;
}

.testimonial p {
    flex: 1;
    text-align: right;
    font-weight: bold;
}