/* Navbar */

.navbar {
    position: fixed;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
}

/* Logo, Toggle and Nav Alignment*/

.navbar .logo,
.navbar .hamburger {
    width: 50%;
}

.navbar nav {
    width: 100%;
}

/* Hamburger Toggle */

.navbar .hamburger {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   padding: 20px;
   /* position: relative; */
}

.navbar .hamburger .toggle {
    width: 30px;
    height: 30px;
    position: relative;
}

.navbar .hamburger .toggle .toggle-btn {
    position: absolute;
    top: -10px;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0;
    z-index: 3;
}

.navbar .hamburger .toggle div {
    position: absolute;
    content: '';
    top: 0x;
    right: 0;
    width: 30px;
    height: 2px;
    background-color: var(--primary-color);
    z-index: 2;
    transition: all 0.4s ease;

}

.navbar .hamburger .toggle div::before {
    position: absolute;
    content: '';
    top: -10px;
    right: 0;
    width: 30px;
    height: 2px;
    background-color: var(--primary-color);
    z-index: 2;
}

.navbar .hamburger .toggle div::after {
    position: absolute;
    content: '';
    top: 10px;
    right: 0;
    width: 30px;
    height: 2px;
    background-color: var(--primary-color);
    z-index: 2;
}

/* Hamburger Menu Animation */
/******LEARN THE + SELECTOR CAREFULLY. IT ALREADY SELECTS ALL THE SELECTORS UPTO THE LEVEL 
WHERE IT WAS WRITTEN*******/

.navbar .hamburger .toggle .toggle-btn:checked + div {
    transform: rotate(135deg);
}

.navbar .hamburger .toggle .toggle-btn:checked + div::before,
.navbar .hamburger .toggle .toggle-btn:checked + div::after {
    top: 0;
    transform: rotate(90deg);
}

/* Nav Items */

.navbar nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}