/* Colors */

:root {
    --primary-color: #c72727;
    --secondary-color: #ff4500;
    --dark-color: #333;
    --light-color: #fafafa;
    --max-width: 1300px;
}

.category {
    --mf-color: #00dd66;
    --stock-color: #009cff;
    --currency-color: #a66bbe;
    --commodities-color: #ff4500;
    --fno-color: #333;
}










