/* Global style preset */

* {
    box-sizing: border-box;
}


/* Making Images Responsive */

img {
    max-width: 100%;
    height: auto;
}

/* Typography and color */

h1, h2, h3, h4, h5, h6 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p, ul, li, input, button, a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 2em;
    font-weight: 600;
}

h2 {
    font-size: 1.8em;
    font-weight: 600;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
}

p, li, input, button {
    font-size: 1.1em;
}

/* Margin & Padding */

main {
    margin: 10vh 20vw;
    padding: 2.5vh 5vw;
    border: 1px solid #4a4a4a;
    border-radius: 2%;
    box-shadow: 5px 10px #4a4a4a;

    
}

/* Text Styling */

main h1 {
    text-align: center;
}

main.index-page ul li {
    
}

/* Navigation */
div.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}