/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Raleway&display=swap');

/* CSS Reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Core Styles */

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

/* Header Section */

header {
    height: 100vh;  /*If I don't give the height, then the image will collapse and it'll not show */
    background: url('images/home/showcase.jpg') no-repeat center center/cover;
}

#navigation {
    background: rgba(51, 51, 51, 0.8);
}

#top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

#top-menu h2 {
    color: #fafafa;
}

#top-menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#top-menu ul li a {
    padding: 15px 20px;
    color: #fafafa;
}



/* Media Queries */

@media screen and (max-width: 769px) {
    
    /* Header Section */
        #top-menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        #top-menu h2, nav {
            flex: 1 1 200px;
            text-align: center;
        }

        #top-menu ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        #top-menu ul li a {
            padding: 10px 12px;
        }
}
