/* CSS Utility Classes */

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    text-align: center;
}


.text-primary {
    color: #28a745;
}

.text-secondary {
    color: #0284d0;
}

/*Media Queries*/

@media screen and (max-width: 920px) {

    .container {
        width: 100%;
        margin: 0 auto;
    }
    
}

@media screen and (max-width: 768px) {

    .container {
        width: 80%;
        margin: 0 auto;
    }
    
}

