/* CSS Utility Classes */

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    text-align: center;
}


.text-primary {
    color: #28a745;
}

.text-secondary {
    color: #0284d0;
}

.bg-dark {
    background-color: #333;
}

.bg-light {
    background-color: #fafafa;
}

.bg-primary {
    background-color: #28a745;
}

.bg-secondary {
    background-color: #0284d0;
}

.btn-transparent {
    display: inline-block;
    padding: 15px 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.btn-transparent:hover {
    color: #0284d0;
    background-color: #fafafa;
    border: 1px solid #fafafa;
    border-radius: 5px;
}

/* Flex Items */

.flex-items-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.flex-items-3 div {
    flex: 1 1 300px;
    height: 100%;
}

.flex-items-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-items-2 div {
    flex: 1 1 300px;
    height: 100%;
}


/* Clear Float */

.clr {
    clear: both;
}

/*Media Queries*/

@media screen and (max-width: 920px) {

    .container {
        width: 100%;
        margin: 0 auto;
    }
    
}

@media screen and (max-width: 768px) {

    .container {
        width: 80%;
        margin: 0 auto;
    }
    
}

