/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Patua+One&family=Roboto&display=swap');

/* CSS Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Core Styles */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: 600;
    line-height: 1.2;
}

p, a, input, select, textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.2rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}





/* Utility Styles */
.container {
    width: 70%;
    margin: 0 auto;
}




/* Header Section  */

.header {
    background-color: beige;
}

.header .hero-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.hero-grid .hero-section {
    grid-column: 1 / span 2;
}