/******** Import Google Fonts ********/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Patua+One&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/*********CSS Variables*********/

:root {
    --primary-color:  #FF9268;
    --secondary-color: #FFC38B;
    --light-color: #FFF3CD;
    --dark-color:  #4D3E3E;
}



/************CSS Reset***********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*******Core Styles**********/

h1, h2, h3, h4, h5, h6, label {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    line-height: 1.2;
    padding-bottom: 1rem;
}

p, a, input, textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    padding-bottom: 0.8rem;
}

a {
    text-decoration: none;

}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

label {
    font-size: 1.3rem;
}

p, a, input, textarea {
    font-size: 1.2rem;
}




/*********Utility Classes*************/

.text-primary {color:  var(--primary-color);}
.text-secondary {color:  var(--secondary-color);}
.text-dark {color:  var(--dark-color);}
.text-light {color:  var(--light-color);}

.l-heading {
    font-size: 4rem; font-weight: 700;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}

.btn-primary {
    background-color: #FF9268;
    color: #FFFFFF;
}



/*******Section Styles************/

/********Navbar**********/

.navbar {
    height: 100vh;
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    background-color: var(--dark-color);
}

.logo {
    height: 10%;
    font-size: 2.5rem;
    font-family: 'Patua One' , cursive;
    width:  50%;
    color: var(--light-color);
}

.nav-toggle {
    height: 10%;
    width:  50%;
    display: flex;
    flex-direction: row-reverse;
}

.nav-toggle #nav-toggle-btn {
    width:  30px;
    height:  30px;
    opacity: 1;
}

.primary-nav {
    height: 90%;
    width: 100%;
    text-align: center;
}

.primary-nav ul {
    height:  100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.primary-nav ul li {
    list-style: none;
}

.primary-nav ul li a {
    text-decoration: none;
    padding: 1rem 2rem;
    color: var(--light-color);
}

.primary-nav ul li a:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
}

/***********Hero Section***********/

.hero-section {
    background: url('../assets/img/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-section h1,
.hero-section p,
.hero-section a {
    color: #FFF3CD;
}

/**************Info Grid Section**********/

.info-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  1fr 1fr;
}

.info-grid .hotel-image,
.info-grid .hotel-history {
    height: 50vh;
    width: 100%;
}

.info-grid .feature-box {
    height: 33vh;
    background-color: var(--light-color);
}

.info-grid img {
    display: block;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}




/***********Media Queries************/

/********Navbar************/

@media screen and (min-width: 768px) {

    /********Utility Classes***********/


    /********Section Styles***********/


    /*********Navigation*************/

    .navbar {
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        
    }

    .logo {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1rem;
    }

    .logo h2 {
        font-size: 2.5rem;
        font-family: 'Patua One' , cursive;
        padding: 0;
    }

    .nav-toggle {
        height: 100%;
        flex:  1;
    }

    .nav-toggle #nav-toggle-btn {
        width:  30px;
        height:  30px;
        opacity: 0;
    }

    .primary-nav {
        height: 100%;
        flex: 1;
        text-align: center;
    }

    .primary-nav ul {
        height:  100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .primary-nav ul li {
        list-style: none;
    }

    .primary-nav ul li a {
        text-decoration: none;
        padding: 1rem 2rem;
        font-size: 1.3rem;
    }


    /********Hero Section********/

    .hero-section {
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-section h1, p {color: var(--light-color);}




}
