* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px 40px;
    height: 100vh;
    background-color: darkslateblue;
}

.form-wrap {
    max-width: 350px;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: azure;
}

.form-intro {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 3px;
}

form input, button {
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
}

