/* CSS Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Core Styles */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, p {
    margin-bottom: 10px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    color: #333;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    color: #333;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: #333;
}

p, a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Utility Classes */

.container {
    max-width: 70%;
    margin: 0 auto;
}


/* Home Page */

/* Navigation */

nav {
    background-color: #333;
    height: 60px;
}

#logo {
    float: left;
    color: #ddd;
}

#top-menu {
    float: right;
    list-style: none;
}

#top-menu li {
    float: left;
    padding-top: 18px;
    padding-left: 15px;
}

#top-menu li a {
    color: #ddd;
    text-decoration: none;
    padding: 10px 10px;
}
#top-menu li a:hover {
    background-color: #393939;
    border-bottom: 1px solid gold;
}

/* Showcase Section */

#showcase {
    background: url("../assets/showcase.jpg") no-repeat center center/cover;
    height: 95vh;
}


/* Media Queries */

@media screen and (max-width: 768px) {

    /* Navigation Section */

    nav {
        height: 260px;
    }

    #logo {
        float: none;
        text-align: center;
        color: #ddd;
    }
    
    #top-menu {
        float: none;
        list-style: none;
    }
    
    #top-menu li {
        float: none;
        text-align: center;
        padding-bottom: 10px;
    }
    
    #top-menu li a {
        color: #ddd;
        text-decoration: none;
        display: block;
        width: 100%;
        padding: 10px 0;
    }

    #top-menu li a:hover {
        background-color: #393939;
        border-bottom: 1px solid gold;
    }

    /* Showcase Section */

    #showcase {
        background: url("../assets/showcase.jpg") no-repeat center center/cover;
        height: 80vh;
    }
}
