/*------CSS Reset------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*------Core CSS ------*/

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*------Specific CSS-----------*/

#navbar {
    background-color: coral;
    height: 80px;
}

#nav-wrapper {
    max-width: 860px;
    margin: 0 auto;
}

#navbar h1 {
    float: left;
    color: #000;
    padding: 25px;
}

#navbar ul {
    float: right;
}

#navbar ul li {
    list-style: none;
    float: left;
    display: block;
    padding: 28px;
}

#navbar ul li a {
    text-decoration: none;
    color: #000;
}
