/*------Reset------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*------Core CSS ------*/

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

h1, h2, h3 {
    padding-bottom: 25px;;
}

p {
    margin: 20px 0;
}

a {
    text-decoration: none;
    color: #333;
}



/***********Utility Classes*************/

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}

.box {
    height: 300px;
    width: 33%;
    float:left;
    padding: 30px 10px;
}

.bg-dark {
    background-color: #333;
    color: #f4f4f4;
}

.bg-light {
    background-color: #f4f4f4;
    color: #333;
}

.bg-primary {
    background-color: #f7c08a;
    color: #333;
}

.text-primary {
    color: #f7c08a;
}

.lead {
    font-size: 18px;;
}

.btn {
    display: inline-block;
    background-color: #333;
    padding: 10px 20px;
    color: #f7c08a;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #f7c08a;
    color: #333;
    cursor: pointer;
}

.btn-light {
    background-color: #f4f4f4;
    color: #333;
}

.btn-light:hover {
    background-color: #f7c08a;
}

/******Navbar Section*******/

#navbar {
    background-color: #333;
    color: white;
    overflow: auto;
}


#navbar h2 {
    float: left;
    padding: 25px;
}

#navbar ul {
    float: right;
    list-style: none;
}

#navbar ul li {
    float: left;
    
}

#navbar ul li a {
    text-decoration: none;
    color: white;    
    display: block;
    padding: 28px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background-color: #444;
    color: #f7c08a;
}

/* ******Showcase Section********** */

#showcase {
    background: url('../assets/img/showcase.jpg') no-repeat center center/cover;
    height: 600px;
}

#showcase #showcase-content {
    text-align: center;
    padding-top: 170px;
    color: #ffffff;
}

#showcase #showcase-content h1 {
    font-size: 60px;
}

/* *******Home Info Section******** */

#home-info {
    height: 400px;
}

#home-info-img {
    background: url('../assets/img/photo-1.jpg') no-repeat center center;
    float: left;
    width: 50%;
    height: 100%;
}

#home-info-text {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 130px 20px;
    overflow: hidden;
}

#home-info-text p {
    padding-bottom: 20px;
}

/* *****Features Section*** */

.box {
    text-align: center;
}

.box i, h3 {
    margin-top: 20px;
}