/*------CSS Reset------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*------Core CSS ------*/

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/***********Utility Classes*************/

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}


/*------Specific CSS-----------*/

#navbar {
    background-color: #333;
    color: white;
    overflow: auto;
}


#navbar h1 {
    float: left;
    padding: 25px;
}

#navbar ul {
    float: right;
    list-style: none;
}

#navbar ul li {
    float: left;
    
}

#navbar ul li a {
    text-decoration: none;
    color: white;    
    display: block;
    padding: 28px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background-color: #444;
    color: #f7c08a;
}
