html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 3.5fr 0.5fr 0.5fr;
}

header {
    min-height: 10vh;;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1vh 1vw;
    max-height: autos;
}

main {
    min-height: 60vh;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .search-controls {
    display: flex;
    flex-direction: column;
    gap: 10px;   
}

.search-controls form {
    flex: 1;
}

.search-lang {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

div.region {
    min-height: 10vh;
    grid-row: 3/4;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 0 1vw;
}

footer {
    min-height: 10vh;
    grid-row: 4/5;
}

footer .footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
}

.footer-menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

