/* Container classes */

.container {
    max-width: 70%;
    margin: 0 auto;
}



/* Text colors */

.text-primary {
    color: #28a745;
}

.text-secondary {
    color: #0284d0;
}


/* Buttons */

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}

.btn:hover {
    background-color: #0284d0;
}