/* CSS Stylesheet for RWD Education website project - Ben Frain book - Packt Pub */

/* Over-riding universal styles - box sizing, responsive img etc. */
* {
    box-sizing: border-box;
    /* border: 2px solid red; */
}

img {
    max-width: 100%;
    height: auto;
}

/************ Header & Navigation **********/
header.lp-header {
    display: flex;
    flex-direction: row;
}

div.logo {
    flex: 1;
}

nav.top {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5em;
}

nav.top a {
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    color: #4a4a4a;
    font-size: 1.125rem;
}


@media screen and (max-width: 790px) {
    header.lp-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.logo {
        flex: 1;
    }

    nav.top {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 0.5em;

    }

    nav.top a {
        font-family: ;
        font-size: ;
        font-weight: ;
        text-decoration: none;
    }
}

/********** Header & Navigation end    *********/

/**********Landing Page Hero Section **********/

@media screen and (min-width: 420px) {
    section.lp-hero {
        background-image: linear-gradient( to bottom, rgba(0,0,0,1), rgba(0,0,0,0.5));
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        color: white;
        height: 850px;
    }
}

@media screen and (min-width: 790px) {
    section.lp-hero {
        background-image: linear-gradient( to bottom, rgba(0,0,0,1), rgba(0,0,0,0.5));
        display: flex;
        flex-direction: row;
        justify-content: ;
        align-items: ;
        color: white;
        height: 850px;
    }
}

section.lp-hero-text {
    flex: 1;    
}

section.lp-hero-image {
    flex: 1;
    width: 150px;    
}

/***** Landing Page Features Section *********/


section.lp-features-3col {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section.lp-features-col1 {
    flex: 1;
}

section.lp-features-col2 {
    flex: 1;
}

section.lp-features-col3 {
    flex: 1;
}



@media screen and (max-width: 790px) {
    section.lp-features-3col {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    section.lp-features-col1 {
        flex: 1;
    }
    
    section.lp-features-col2 {
        flex: 1;
    }
    
    section.lp-features-col3 {
        flex: 1;
    }
}


/******* Landing Page FAQ Section ************/


section.lp-faq-2col {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section.lp-faq-col1 {
    flex: 1;
}

section.lp-faq-col2 {
    flex: 1;
}


@media screen and (max-width:790px) {
    section.lp-faq-2col {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    section.lp-faq-col1 {
        flex: 1;
    }

    section.lp-faq-col2 {
        flex: 1;
    }
}

/******** Landing Page CTA section ***********/


section.lp-cta {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section.lp-cta1 {
    flex: 1;
}

section.lp-cta2 {
    flex: 1
}


@media screen and (max-width: 790px){
    section.lp-cta {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    section.lp-cta1 {
        flex: 1;
    }

    section.lp-cta2 {
        flex: 1
    }
}

/**********Landing Page Testimonials section *************/
section.lp-testimonials {
    display: ;
    flex-direction: ;
    justify-content: ;
}

/*******Landing Page What's New section ************/




/*******Landing Page Email Subcribe Form ***********/




/*********Landing Page Contents section ************/




/********* Footer section ***************************/

footer.lp-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer div {
    flex: 1;
}


@media screen and (max-width: 790px) {
    footer.lp-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    footer div {
        flex: 1;
    }
}