/* CSS Stylesheet for RWD Education website project - Ben Frain book - Packt Pub */

/* Over-riding universal styles - box sizing, responsive img etc. */
* {
    box-sizing: border-box;
    border: 2px solid red;
}

img {
    max-width: 100%;
    height: auto;
}

/************ Header & Navigation **********/

header.lp-header {
    display: flex
}

div.logo {
    flex: 1;
}

nav.top {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5em;

}

nav.top a {
    font-family: ;
    font-size: ;
    font-weight: ;
    text-decoration: none;
}

/********** Header & Navigation end    *********/

/**********Landing Page Hero Section **********/

section.lp-hero {
    /*background-image: linear-gradient( to bottom, rgba(0,0,0,1), rgba(0,0,0,0.5));*/
}