/* CSS Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Core Styles */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, p {
    margin-bottom: 1rem;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    color: #333;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    color: #333;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: #333;
}

p, a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

/* Utility Classes */

.container {
    max-width: 70%;
    margin: 0 auto;
}

.text-primary {
    color: #f7c08a ;
}

.text-light {
    color: #ddd;
}

.text-dark {
    color: #333;
}

.bg-primary {
    background-color: #f7c08a;
}

.bg-dark {
    background-color: #333;
}

.bg-light {
    background-color: #ddd;
}


.btn-primary {
    display: inline-block;
    text-decoration: none;
    padding: 15px 25px;
    background-color: #f7c08a;
    color: #333;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #f7f7f7;
    color: #333;
    border-radius: 5px;
}

.btn-dark {
    display: inline-block;
    text-decoration: none;
    padding: 15px 25px;
    background-color: #333;
    color: gold;
    border-radius: 5px;
}

.btn-dark:hover {
    background-color: gold;
    color: #333;
    border-radius: 5px;
}

.feature-box {
    width: 33.33%;
    height: 100%;
    float:left;
    text-align: center;
    padding: 15vh 5vw;
}


.clr {
    clear: both;
}


/* Home Page */

/* Navigation */

nav {
    background-color: #333;
    height: 60px;
}

#logo {
    float: left;
    color: #ddd;
    font-size: 3rem;
}

#top-menu {
    float: right;
    list-style: none;
}

#top-menu li {
    float: left;
    padding-top: 18px;
    padding-left: 15px;
}

#top-menu li a {
    color: #ddd;
    text-decoration: none;
    padding: 20px 10px;
}
#top-menu li a:hover {
    background-color: #393939;
    border-bottom: 1px solid gold;
}

/* Showcase Section */

#showcase {
    background: url("../assets/showcase.jpg") no-repeat center center/cover;
    height: 95vh;
    text-align: center;
}

.showcase-heading {
    color: #ddd;
    font-size: 4rem;
    padding-top: 30vh;
    padding-bottom: 10px;
}

.showcase-text {
    color: #ddd;
    font-size: 1.1rem;
    padding-bottom: 10px;
}

/* Home Info Section */

#home-info {
    height: 50vh;
}

#home-info-img {
    float: left;
    width: 50%;
    height: 100%;
    background: url('../assets/photo-1.jpg') no-repeat center center;
}

#home-info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding-top: 15vh;
}

#home-info-content p {
    color: #ddd;
}

/* Features Section */

#features {
    height: 50vh;
}


.feature-box p {
    margin: 20px 30px;

}

/* About Page */

/* About-Info-Section */

#about-info {
    padding: 2rem 1rem;
    margin: 2rem auto;
}

#about-info-text {
    float: left;
    width: 50%;
    height: 100%;
}

#about-info-text h1 {
    margin-bottom: 2rem;
}

#about-info-img {
    float: right;
    width: 50%;
    height: 100%;
    padding: 0 2rem;
}

#about-info-img img {
    display: block;
    width: 450px;
    height: 300px;
    border-radius: 50%;
}

/* Testimonials Section */

#testimonials {
    height: 80vh;
    width: 100%;
    background: url('../assets/test-bg.jpg') no-repeat center center/cover;
    padding: 10rem 30px;
}

.user-review {
    height: 15vh;
    width: 80%;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem auto;
}

.user-review img, p {
    margin: auto;
}

.user-review img {
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 1rem;
}

/* Contact Page */

/* Contact form section */

#contact-form-section {
    background-color: #f7f7f7;
    margin: 0 auto;
    padding: 1rem 2rem;
}

.form-group {
    padding-bottom: 0.5rem;
}

.form-group label, input, textarea {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 5px;
}

.form-group input {
    padding: 10px;
}





/* Footer Section */

footer {
    height: 10vh;
    background-color: #333;
    text-align: center;
}

footer p {
    padding-top: 4vh;;
}








/* Media Queries */

@media screen and (max-width: 768px) {

    /* Navigation Section */

    nav {
        height: 260px;
        text-align: center;
    }

    #logo {
        float: none;
        /* text-align: center; */
        color: #ddd;
        margin-bottom: 5px;
    }
    
    #top-menu {
        float: none;
        list-style: none;
        margin: 0 auto;
    }
    
    #top-menu li {
        float: none;
        /* text-align: center; */
        /* padding-bottom: ; */
    }
    
    #top-menu li a {
        color: #ddd;
        text-decoration: none;
        display: block;
        width: 100%;
        padding: 15px 0;
    }

    #top-menu li a:hover {
        background-color: #393939;
        border-bottom: 1px solid gold;
    }

    /* Showcase Section */

    #showcase {
        background: url("../assets/showcase.jpg") no-repeat center center/cover;
        height: 80vh;
    }

    .showcase-heading {
        padding-top: 20vh;
    }


    /* Home Info Section */

    #home-info {
        height: 100vh; /*Setting a height of 100vh for this section*/
    }

    #home-info-img {
        float: none;
        width: 100%;
        height: 50%;   /*Setting a height of 50vh for image and the text content each*/
        background: url('../assets/photo-1.jpg') no-repeat center center;
    }

    #home-info-content {
        float: none;
        width: 100%;
        height: 50%; /*Setting a height of 50vh for image and the text content each*/
        text-align: center;
        padding-top: 120px;
    }

    #home-info-content p {
        color: #ddd;
    }

    /* Features Section */

    #features {
        height: 100vh;
    }
    
    .feature-box {
        width: 100%;
        height: 33.33%;
        float: none;
        text-align: center;
        padding: 12vh 5vw;
    }

    
    .feature-box p {
        margin: 20px 30px;
    
    }

    /* About Page */

    /* About-Info-Section */

    #about-info {
        padding: 1rem 1rem;
        margin: 0 auto;
        height: 100vh;
    }

    #about-info-text {
        float: none;
        width: 100%;
        height: 50vh;
        text-align: center;
    }

    #about-info-text h1 {
        margin-bottom: 2rem;
    }

    #about-info-img {
        float: none;
        max-width: 80vw;
        height: 50vh;
        padding: 0;
    }

    #about-info-img img {
        display: block;
        margin: 0 auto;
        border-radius: 0%;
    }

    /* Testimonials Section */

    #testimonials {
        height: 80vh;
        width: 100%;
        background: url('../assets/test-bg.jpg') no-repeat center center/cover;
        padding: 10rem 30px;
    }

    .user-review {
        height: 20vh;
        width: 80%;
        border-radius: 10px;
        padding: 1rem;
        margin: 2rem auto;
    }

    .user-review img, p {
        margin: auto;
    }

    .user-review img {
        display: block;
        float: left;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 1rem;
    }


}