.container {
    width: 70%;
    margin: 0 auto;
}

.app-intro {
    text-align: center;
}

input {
    display: block;
    padding: 1rem 2rem;
    margin: 1rem 0 ;
}

input[type='text'] {
    width: 80%;
    border-top: none;
    border-left: none;
    border-right: none;
}
.task-clr-btn {
    padding: 1rem 2rem;
    margin: 1rem 0 ;
    background-color: #333;
    color: #f4f4f4;
}



h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

p, input, label, button {
    font-size: 1.2rem;
    font-family: 'Source Serif Pro', serif;
}

ol li {
    width: 50%;
}

ol li a {
    float: right;
}

